
.wrapper {
    margin: 0px!important;
    height: 70%!important;

    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */

}

.wrapper > h1, .wrapper > p {
    color: #333333;
}

.wrapper .skills-container {
    position: relative;
    height: 100%;
}

.wrapper .skills-container > svg {
    display: block;
}

.wrapper .skills-container > text {
    display: block;
}


#front-end-svg-div, #back-end-svg-div{
    width: 50%!important;
    height: 100%!important;
}

#front-end-svg-div{
    float: left!important;
    margin-top: 2%!important;
}

#back-end-svg-div{
    margin-right: 0px!important;
    padding-right: 0px!important;
    float: right!important;
}

#skills-page {
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

#front-end-svg-div #front-end{
    margin-top: 50px;
    width: 100%!important;
    height: 100%!important;
    /*border-radius: 50%;*/
    /*border: 2px solid white;*/
}

#front-end-svg-div #front-end #front-end-text,
#front-end-svg-div #front-end #front-end-html-text,
#front-end-svg-div #front-end #front-end-css-text,
#front-end-svg-div #front-end #front-end-css3-text,
#front-end-svg-div #front-end #front-end-bootstrap-text,
#front-end-svg-div #front-end #front-end-animation-text,
#front-end-svg-div #front-end #front-end-javascript-text,
#front-end-svg-div #front-end #front-end-jquery-text,
#front-end-svg-div #front-end #front-end-ajax-text,
#front-end-svg-div #front-end #front-end-angular-text
{
    fill: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 3px;
    letter-spacing: 0.6px;
}

#front-end-svg-div #front-end .front-end-path-properties{
    fill: none;
    stroke-width: 0.4px;
    stroke: rgba(200,10,10,0.5);
}

.no-opacity{
    opacity: 0;
}

/*
* Front-end animation starts
* display one thing after another
* increase the delay as the element increases so that the animation is one after other
 */
#front-end #front-end-text{
    animation: fadeIn 1s linear forwards;
}

#front-end #frontend-html5{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 1s;
}

#front-end #front-end-html-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
}

#front-end #frontend-css{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 3s;
}

#front-end #front-end-css-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 3.5s;
}

#front-end #css-bootstrap{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 4.5s;
}

#front-end #front-end-bootstrap-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}

#front-end #css-css3{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 6s;
}

#front-end #front-end-css3-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 6.5s;
}

#front-end #css3-animations{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 7.5s;
}

#front-end #front-end-animation-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 8s;
}

#front-end #frontend-javascript{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 6s;
}

#front-end #front-end-javascript-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 6.5s;
}

#front-end #javascript-jquery{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 7.5s;
}

#front-end #front-end-jquery-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 8s;
}

#front-end #javascript-ajax{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 8.5s;
}

#front-end #front-end-ajax-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 9s;
}

#front-end #javascript-angular{
    -webkit-animation: Drawpath 2s linear forwards;
    animation: Drawpath 2s linear forwards;
    stroke-dasharray: 0,100;
    animation-delay: 9.5s;
}

#front-end #front-end-angular-text{
    animation: fadeIn 1s linear forwards;
    animation-delay: 10s;
}


@-webkit-keyframes Drawpath {
    from {
        stroke-dasharray: 0,100;
    }
    to {
        stroke-dasharray: 100,100;
    }
}
@keyframes Drawpath {
    from {
        stroke-dasharray: 0,100;
    }
    to {
        stroke-dasharray: 200,100;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}