body {
    margin: 0;
    padding: 0;
    background: url('../images/coverImage1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    background-color: black;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 25px;
    margin-left: 10px;
}

.navbar {
    background-color: black !important;
}

#home-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#name-title-home-page-text {
    font: 600 1.7em/1 'Raleway', sans-serif;
    color: black;
    position: absolute;
    letter-spacing: .4em;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

